__pycache__/
*.pyc
*.pyo
*.pyd
.tmp_*
.tmp_debug/
.tmp_tests/
out/
out_real/
out_reworked/
out_synth/
analysis_runs/
training_eval/
training_eval_v2/
training_eval_postfix/
training_eval_final/
training_exact_eval/
training_ready_runs/
web_runs/
